section#table-summary {
    padding-top: 5rem;
}

section#pie-chart {
    padding-top: 7rem;
}

section#transaction {
    padding-top: 5rem;
}

section#transaction-filters label#kategori-filter{
    min-width: 50px;
}