<!--<h3>Pie Chart</h3>
<div class="piechart"></div>!-->

<!--<section id="piechart">
    <div class="pieContainer">
        <div class="pieBackground"></div>
        <div id="pieSlice1" class="hold"><div class="pie"></div></div>
        <div id="pieSlice2" class="hold"><div class="pie"></div></div>
        <div id="pieSlice3" class="hold"><div class="pie"></div></div>
        <div id="pieSlice4" class="hold"><div class="pie"></div></div>
        <div id="pieSlice5" class="hold"><div class="pie"></div></div>
        <div id="pieSlice6" class="hold"><div class="pie"></div></div>
        <div class="innerCircle">
            <div class="content">
                <b>Data</b><br>from 01<sup>th</sup> January, 2025
            </div>
        </div>
    </div>
</section>!-->

<section id="pie-chart">
    <div id="pie-container"></div>
</section>

<section id="table-summary">
    <div class="container mt-3">         
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Total Pendapatan</th>
                <th>Total Pengeluaran</th>
                <th>Saldo Tersisa</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{this.transaction.totalTransaksiPendapatan.totalPendapatan}}</td>
                <td>{{this.transaction.totalTransaksiPengeluaran.totalPengeluaran}}</td>
                <td>{{this.transaction.totalTransaksiSaldo.totalSaldo}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

<script>
    anychart.onDocumentReady(function () {

    // add the data
    let data = anychart.data.set([
        ["Chennai Super Kings", 5],
        ["Mumbai Indians", 5],
        ["Kolkatta Knight Riders", 2],
        ["Deccan Chargers", 1],
        ["Gujarat Titans", 1],
        ["Rajasthan Royal", 1],
        ["Sunrisers Hyderabad", 1],
    ]);

    // create a pie chart with the data
    let chart = anychart.pie(data);

    // set the chart title
    //chart.title("IPL Winnership Over 16 Seasons");

    // set container id for the chart
    chart.container("pie-container");

    // initiate chart drawing
    chart.draw();
    });
</script>